.Header {
    position: relative;
    margin: 0; 
    display: flex;
    list-style: none;
    border-bottom: 1px solid black;
}

.Header  {
}

.Header button{
     margin: 2px;
     padding: 7px;
     background-color: transparent;
     border: 0;
    transition: 300ms;
    border: 1px solid black;
    border-radius: 12px;

}

.Header button:hover{
    color: rgb(255, 217, 0);
    font-size: 1.4rem;
    border:  1px solid yellowgreen;
}

.cart {
    position: absolute;
    top: 10px;
    right: 10px; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 10;
}
