.Buttons{
    border: 1px solid black;
    transition: 300ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Buttons:hover{
    color: white;
    border: orange 1px solid;
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}
